<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
		<property name="url" value="jdbc:mysql://localhost:3306/mybook"></property>
		<property name="username" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/vo/Lend.hbm.xml</value>
				<value>org/vo/Books.hbm.xml</value>
				<value>org/vo/Login.hbm.xml</value>
				<value>org/vo/Students.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="BooksDaoImp1" class="org.dao.imp1.BooksDaoImp1">
		<property name="hibernateSessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LendDaoImp1" class="org.dao.imp1.LendDaoImp1">
		<property name="hibernateSessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LoginDaoImp1" class="org.dao.imp1.LoginDaoImp1">
		<property name="hibernateSessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="StudentsDaoImp1" class="org.dao.imp1.StudentsDaoImp1">
		<property name="hibernateSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="BooksAction" class="org.action.BooksAction" scope="prototype">
		<property name="booksDao" ref="BooksDaoImp1"></property>
	</bean>
	<bean id="LendAction" class="org.action.LendAction" scope="prototype">
		<property name="lendDao" ref="LendDaoImp1"></property>
		<property name="studentDao" ref="StudentsDaoImp1"></property>
		<property name="booksDao" ref="BooksDaoImp1"></property>
	</bean>
	<bean id="LoginAction" class="org.action.LoginAction" scope="prototype">
		<property name="loginDao" ref="LoginDaoImp1"></property>
	</bean>
	</beans>